@import url("https://fonts.googleapis.com/css?family=Roboto");

/*#region Global Styles */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --danger-color: #ff0000;
  --success-color: #008000;
  --current-color: #ffff00;
  --tooltip-color: #ffffff;
  --font-style: Arial, sans-serif;
}

html {
  background-color: var(--secondary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.margin-0 {
  margin: 0 !important;
}

.margin-center-vertical {
  margin: auto 0;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

label,
li,
h1,
span,
strong {
  color: var(--primary-color);
}

::placeholder {
  color: var(--primary-color);
  opacity: 1;
}

body {
  font-family: var(--font-style);
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
  align-items: center;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vertical-center {
  display: inline-flex;
  margin: auto;
  text-align: left;
}

.right {
  float: right;
  white-space: nowrap;
  /* padding-left: 5px; */
  margin: auto 0;
  vertical-align: middle;
  line-height: normal;
}

.qualifiers {
  display: flex;
}

.small-text {
  font-size: 0.6rem;
  height: 0;
}

.border {
  border: 2px solid var(--primary-color);
}

hr {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

.inline {
  display: inline;
}

.italics {
  font-style: italic;
}

.height-65 {
  height: 65px;
  vertical-align: top;
}

.pb5 {
  padding-bottom: 5px;
}

.disabled {
  opacity: 0.6;
}

:focus {
  outline: none;
}

/*#endregion*/

/*#region Project Specific Styles */
.alert-placeholder {
  min-height: 40px;
  margin-bottom: 15px;
}

.alert {
  display: block;
  width: 100%;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: none;
}

#input-special {
  display: inline-block;
  width: 90%;
  height: 2.5rem;
}

.btn-square {
  display: inline-block;
  height: 2.5rem;
  width: 10%;
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-right: 0;
  cursor: pointer;
  margin: 0.2rem 0;
  vertical-align: top;
  text-align: center;
}

.register-span {
  display: inline-block;
  max-width: 80%;
  margin-left: 10px;
  vertical-align: -webkit-baseline-middle;
}

.lr-border {
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  margin: 0;
  min-height: 0.5rem;
}

.no-top-border {
  border-top: 0 !important;
}

.padding-04 {
  padding: 0.4rem;
}

.width-80 {
  width: 80px;
  flex-shrink: 0;
  display: inline-block;
  text-align: left;
}

.width-325 {
  max-width: 325px;
}

.width-175 {
  max-width: 175px;
  margin: auto;
}

/* Google Charts (SVG) */
.google-visualization-tooltip path {
  fill: var(--tooltip-color);
}

.google-visualization-tooltip > g > text {
  fill: #000000;
}

svg > rect {
  fill: var(--secondary-color);
}

g > text {
  stroke: var(--secondary-color);
  fill: var(--primary-color);
}

g > g > rect {
  fill: #999999;
}

g > g > circle[r="6.5"] {
  fill: var(--tooltip-color);
}

/* Table */
.table-row {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-top: 0;
}

.table-label {
  margin-left: 0.5rem;
  height: 1.6rem;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.table-btn {
  display: inline-block;
  background-color: var(--secondary-color);
  height: 1.6rem;
  width: 1.6rem;
  font-size: 1.1rem;
  border: none;
  border-left: 2px solid var(--primary-color);
  cursor: pointer;
  vertical-align: top;
}

.table-btn-today {
  background-color: var(--current-color);
}

.table-info {
  padding: 0 0.5rem;
}

.table-info span {
  padding: 0.1rem 0;
}

/* Competition Page */

.competition-container {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.competition-table-container {
  max-width: 500px;
  margin: auto;
}

.competition-lists-container {
  max-width: 250px;
  margin: auto;
}

.participant-row {
  padding-left: 0.5rem;
  line-height: 1.8rem;
}

.invite-row {
  padding-left: 0.5rem;
  line-height: 1.8rem;
  border-right: none;
}

/*#endregion*/

/*#region Utilitites */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem 4rem 2rem;
}

/*#endregion*/

/*#region Colors */

.btn-primary,
.alert-primary,
.bg-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-secondary,
.bg-secondary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-success {
  background: var(--success-color);
  color: var(--secondary-color);
}

.btn-danger {
  background: var(--danger-color);
  color: var(--secondary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.danger-color {
  color: var(--danger-color);
}

.success-color {
  color: var(--success-color);
}
/*#endregion*/

/*#region Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.grid-2-1 {
  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 2rem;
  row-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 1rem;
}

/*#endregion*/

/*#region Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar ul {
  display: flex;
}

.navbar li {
  display: flex;
}

.navbar a,
.navbar p {
  color: var(--secondary-color);
  padding: 0.4rem;
  margin: auto;
}

.theme-button {
  padding: 0 0.7rem !important;
}

.below-navbar {
  margin-top: 80px;
}

/*#endregion*/

/*#region Collection */

.collection {
  margin-bottom: 2rem;
}

.collection-header {
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.3rem 0;
}

.collection-header h2 {
  margin: 0 auto;
}

.header-with-btn {
  padding-left: 3.5rem;
  display: inline-flex;
  width: 100%;
}

.collection-header button {
  width: 3.5rem;
}

.collection-footer {
  text-align: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 0;
}

.collection-footer {
  padding: 0;
}

.collection-item {
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-top: 0;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.collection-item-block {
  display: block;
}

.search-item {
  border: 2px solid var(--primary-color);
  border-top: 0;
  width: 100%;
  justify-content: start;
}

.search-container {
  margin: auto 0;
  width: 100%;
  border-left: 2px solid var(--primary-color);
}

.friend-container {
  margin: auto 0;
  padding: 0.7rem 0.5rem;
  border-left: 2px solid var(--primary-color);
}

.search-link {
  display: inline-flex;
  width: 100%;
}

.search-name {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  display: inline-block;
}

.search-email {
  padding: 0.5rem;
}

.search-btn {
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0.3rem auto;
  margin-right: 0.5rem;
  width: 5rem;
  line-height: 1.6rem;
}

/*#endregion*/

/*#region Forms */
input {
  color: var(--primary-color);
  margin: 1.2rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--primary-color);
  box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color) inset;
  transition: var(--secondary-color) 5000s ease-in-out 0s;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea {
  font-family: var(--font-style);
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

input[type="submit"],
input[type="button"] {
  font: inherit;
  display: block;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input,
textarea,
select {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

#chart-input {
  display: inline-block;
  width: 3rem;
  border: 1px solid grey;
  margin: 0 0.4rem;
  padding: 0;
  font-size: 1rem;
}

/*#endregion*/

/*#region Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  opacity: 0.2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
  opacity: 1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*#endregion*/

/*#region Mobile Styles */
@media (max-width: 500px) {
  .hide-sm {
    display: none;
  }

  .form-container {
    padding: 0;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    padding: 0.4rem 0 0.2rem 0;
  }

  .navbar h1 {
    margin-bottom: 0rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .register-span {
    max-width: 72%;
  }
}

@media (max-width: 800px) {
  .grid-2,
  .grid-2-1,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    margin: auto;
  }
}

/*#endregion*/

/*#region Buttons */

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  line-height: 1.6rem;
}

.btn-standard {
  font: inherit;
  display: block;
  width: 100%;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-split {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}

.btn-h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-participants {
  width: 2rem;
  border: none;
}

/*#endregion*/

/*#region Buttons */
/*#region https://loading.io/css/ */

.spinner {
  display: block;
  margin: auto;
  width: 80px;
  height: 92px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--primary-color);
  border-color: var(--primary-color) transparent var(--primary-color)
    transparent;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*#endregion*/

/*#region webkits*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}
