<ng-container *ngIf="isStarted && isActive && isOwner">
  <button class="btn btn-block btn-primary" (click)="saveGoal()">
    Save Goal
  </button>
  <p class="lr-border"></p>
</ng-container>
<ng-container *ngIf="isActive">
  <a href="" class="btn btn-block btn-primary center">
    Modify Goal
  </a>
  <p *ngIf="!deleteToggle" class="lr-border"></p>
</ng-container>
<button
  *ngIf="!deleteToggle"
  class="btn btn-block btn-primary"
  (click)="setDeleteToggle()"
>
  Delete Goal
</button>
<hr />
<ng-container *ngIf="deleteToggle">
  <span class="alert lr-border">
    Are you sure you want to delete this goal? Deletions cannot be undone.
  </span>
  <button class="btn btn-primary btn-split" (click)="setDeleteToggle()">
    No
  </button>
  <button class="btn btn-danger btn-split" (click)="deleteGoal()">
    Yes
  </button>
</ng-container>
