<div class="grid-2">
  <div>
    <app-goal-list
      [isCurrent]="true"
      type="Goal"
      [data]="currentGoals"
    ></app-goal-list>
    <app-goal-list
      [isCurrent]="true"
      type="Competition"
      [data]="currentCompetitions"
    ></app-goal-list>
    <app-goal-list
      [isCurrent]="false"
      type="Goal"
      [data]="pastGoals"
    ></app-goal-list>
    <app-goal-list
      [isCurrent]="false"
      type="Competition"
      [data]="pastCompetitions"
    ></app-goal-list>
  </div>
  <div>
    <h1>Notifications</h1>
    <h1>Friends</h1>
  </div>
</div>
