<div class="form-container">
  <h2 class="collection-header">{{ goal.name }}</h2>
  <ul>
    <!-- goal.type - passfail === 0, total === 1, difference === 2 -->
    <app-pass-fail-chart
      *ngIf="isStarted && goal.type === 0"
    ></app-pass-fail-chart>
    <app-total-chart *ngIf="isStarted && goal.type === 1"></app-total-chart>
    <app-difference-chart
      *ngIf="isStarted && goal.type === 2"
    ></app-difference-chart>
    <app-goal-progress
      *ngIf="isStarted && !isComplete && goal.type !== 0"
    ></app-goal-progress>
    <app-goal-info></app-goal-info>
  </ul>
  <app-goal-buttons></app-goal-buttons>
</div>
