<ul class="collection">
  <li class="collection-header header-with-btn">
    <h2>{{ isCurrent ? "Current " : "Past " }}{{ type }}s</h2>
    <button class="btn btn-primary right" (click)="toggleList()">
      <i [ngClass]="isOpen ? 'fa fa-minus' : 'fa fa-plus'"></i>
    </button>
  </li>
  <ng-container *ngIf="isOpen">
    <ng-container *ngFor="let goal of data">
      <app-list-item [goal]="goal"></app-list-item>
    </ng-container>
    <li *ngIf="isCurrent" class="collection-footer">
      <a routerLink="/goalform" class="text-secondary">
        <p class="padding-04"><i class="fa fa-plus"></i> Add {{ type }}</p>
      </a>
    </li>
  </ng-container>
</ul>
